USE [ProductionDB]
GO
/****** Object:  Table [dbo].[ProductionPlans]    Script Date: 8/5/2025 3:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[LotNumber] [nvarchar](100) NOT NULL,
	[LotSize] [int] NOT NULL,
	[TargetOutput] [int] NULL,
	[WorkerCount] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductSize] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[MachineID] [int] NULL,
	[MachineIDs] [nvarchar](255) NULL,
	[MachineName] [nvarchar](255) NULL,
	[PlanStatus] [nvarchar](20) NULL,
	[PlannedStartTime] [datetime2](7) NOT NULL,
	[PlannedEndTime] [datetime2](7) NOT NULL,
	[Details] [ntext] NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedByUserID] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[PlannedDurationHours]  AS (datediff(minute,[PlannedStartTime],[PlannedEndTime])/(60.0)),
	[ProductDisplayName]  AS (concat([ProductName],' (',[ProductSize],')')),
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionPlans] ADD  DEFAULT ((0)) FOR [TargetOutput]
GO
ALTER TABLE [dbo].[ProductionPlans] ADD  DEFAULT ((1)) FOR [WorkerCount]
GO
ALTER TABLE [dbo].[ProductionPlans] ADD  DEFAULT ('planning') FOR [PlanStatus]
GO
ALTER TABLE [dbo].[ProductionPlans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionPlans] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductionPlans]  WITH CHECK ADD  CONSTRAINT [CK_ProductionPlans_LotSize] CHECK  (([LotSize]>(0)))
GO
ALTER TABLE [dbo].[ProductionPlans] CHECK CONSTRAINT [CK_ProductionPlans_LotSize]
GO
ALTER TABLE [dbo].[ProductionPlans]  WITH CHECK ADD  CONSTRAINT [CK_ProductionPlans_PlanStatus] CHECK  (([PlanStatus]='cancelled' OR [PlanStatus]='completed' OR [PlanStatus]='pending-confirmation' OR [PlanStatus]='in-progress' OR [PlanStatus]='planning'))
GO
ALTER TABLE [dbo].[ProductionPlans] CHECK CONSTRAINT [CK_ProductionPlans_PlanStatus]
GO
ALTER TABLE [dbo].[ProductionPlans]  WITH CHECK ADD  CONSTRAINT [CK_ProductionPlans_TargetOutput] CHECK  (([TargetOutput]>=(0)))
GO
ALTER TABLE [dbo].[ProductionPlans] CHECK CONSTRAINT [CK_ProductionPlans_TargetOutput]
GO
ALTER TABLE [dbo].[ProductionPlans]  WITH CHECK ADD  CONSTRAINT [CK_ProductionPlans_Time] CHECK  (([PlannedEndTime]>[PlannedStartTime]))
GO
ALTER TABLE [dbo].[ProductionPlans] CHECK CONSTRAINT [CK_ProductionPlans_Time]
GO
ALTER TABLE [dbo].[ProductionPlans]  WITH CHECK ADD  CONSTRAINT [CK_ProductionPlans_Workers] CHECK  (([WorkerCount]>(0) AND [WorkerCount]<=(50)))
GO
ALTER TABLE [dbo].[ProductionPlans] CHECK CONSTRAINT [CK_ProductionPlans_Workers]
GO
