USE [pes]
GO
/****** Object:  Table [dbo].[ProductionPlanSubDepartments]    Script Date: 22/8/2568 15:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionPlanSubDepartments](
	[PlanID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[SubDepartmentID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_PPSD] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC,
	[SubDepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments] ADD  CONSTRAINT [DF_PPSD_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments]  WITH CHECK ADD  CONSTRAINT [FK_PPSD_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments] CHECK CONSTRAINT [FK_PPSD_Departments]
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments]  WITH CHECK ADD  CONSTRAINT [FK_PPSD_ProductionPlans] FOREIGN KEY([PlanID])
REFERENCES [dbo].[ProductionPlans] ([PlanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments] CHECK CONSTRAINT [FK_PPSD_ProductionPlans]
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments]  WITH CHECK ADD  CONSTRAINT [FK_PPSD_SubDepartments] FOREIGN KEY([SubDepartmentID])
REFERENCES [dbo].[SubDepartments] ([SubDepartmentID])
GO
ALTER TABLE [dbo].[ProductionPlanSubDepartments] CHECK CONSTRAINT [FK_PPSD_SubDepartments]
GO
