USE [ProductionDB]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 8/5/2025 3:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[SizeValue] [nvarchar](20) NOT NULL,
	[SizeUnit] [nvarchar](10) NULL,
	[SizeDisplay] [nvarchar](30) NOT NULL,
	[sort_order] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ('ml') FOR [SizeUnit]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [CK_product_sizes_display] CHECK  ((len([SizeDisplay])>(0)))
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [CK_product_sizes_display]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [CK_product_sizes_unit] CHECK  (([SizeUnit]='kg' OR [SizeUnit]='L' OR [SizeUnit]='g' OR [SizeUnit]='ml'))
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [CK_product_sizes_unit]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [CK_product_sizes_value] CHECK  ((len([SizeValue])>(0)))
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [CK_product_sizes_value]
GO
