USE [ProductionDB]
GO
/****** Object:  Table [dbo].[DowntimeEvents]    Script Date: 8/5/2025 3:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowntimeEvents](
	[DowntimeID] [int] IDENTITY(1,1) NOT NULL,
	[LogID] [int] NOT NULL,
	[DowntimeReason] [nvarchar](max) NULL,
	[DowntimeMinutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DowntimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
