USE [pes]
GO
/****** Object:  Table [dbo].[ProductionPlanMachines]    Script Date: 22/8/2568 15:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionPlanMachines](
	[PlanID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[MachineID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_PPM] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC,
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionPlanMachines] ADD  CONSTRAINT [DF_PPM_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionPlanMachines]  WITH CHECK ADD  CONSTRAINT [FK_PPM_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[ProductionPlanMachines] CHECK CONSTRAINT [FK_PPM_Departments]
GO
ALTER TABLE [dbo].[ProductionPlanMachines]  WITH CHECK ADD  CONSTRAINT [FK_PPM_Machines] FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[ProductionPlanMachines] CHECK CONSTRAINT [FK_PPM_Machines]
GO
ALTER TABLE [dbo].[ProductionPlanMachines]  WITH CHECK ADD  CONSTRAINT [FK_PPM_ProductionPlans] FOREIGN KEY([PlanID])
REFERENCES [dbo].[ProductionPlans] ([PlanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionPlanMachines] CHECK CONSTRAINT [FK_PPM_ProductionPlans]
GO
