USE [pes]
GO
/****** Object:  Table [dbo].[ProductionSessions]    Script Date: 22/8/2568 15:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[PlanID] [int] NOT NULL,
	[SessionNumber] [int] NOT NULL,
	[ActualStartDateTime] [datetime2](7) NOT NULL,
	[ActualEndDateTime] [datetime2](7) NOT NULL,
	[SessionQuantity] [int] NOT NULL,
	[SessionRejectQuantity] [int] NULL,
	[SessionReworkQuantity] [int] NULL,
	[BreakMorningMinutes] [int] NULL,
	[BreakLunchMinutes] [int] NULL,
	[BreakEveningMinutes] [int] NULL,
	[SetupMinutes] [int] NULL,
	[DowntimeMinutes] [int] NULL,
	[DowntimeReason] [nvarchar](500) NULL,
	[QualityRemark] [nvarchar](max) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductionSessions_PlanSession] UNIQUE NONCLUSTERED 
(
	[PlanID] ASC,
	[SessionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [SessionRejectQuantity]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [SessionReworkQuantity]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [BreakMorningMinutes]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [BreakLunchMinutes]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [BreakEveningMinutes]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [SetupMinutes]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ((0)) FOR [DowntimeMinutes]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionSessions] ADD  DEFAULT ('User') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ProductionSessions]  WITH CHECK ADD  CONSTRAINT [FK_ProductionSessions_PlanID] FOREIGN KEY([PlanID])
REFERENCES [dbo].[ProductionPlans] ([PlanID])
GO
ALTER TABLE [dbo].[ProductionSessions] CHECK CONSTRAINT [FK_ProductionSessions_PlanID]
GO
