USE [pes]
GO
/****** Object:  View [dbo].[vw_OEE_Summary]    Script Date: 22/8/2568 15:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OEE_Summary] AS
SELECT 
    d.DepartmentID,
    d.DepartmentName,
    COUNT(*) as TotalRecords,
    AVG(CAST(pr.OEE_Availability as FLOAT)) as AvgAvailability,
    AVG(CAST(pr.OEE_Performance as FLOAT)) as AvgPerformance,
    AVG(CAST(pr.OEE_Quality as FLOAT)) as AvgQuality,
    AVG(CAST(pr.OEE_Overall as FLOAT)) as AvgOverallOEE,
    CAST(pr.ProductionDate as DATE) as ProductionDate
FROM ProductionResults pr
INNER JOIN ProductionPlans pp ON pr.PlanID = pp.PlanID
INNER JOIN Departments d ON pp.DepartmentID = d.DepartmentID
WHERE pr.OEE_Overall > 0
GROUP BY d.DepartmentID, d.DepartmentName, CAST(pr.ProductionDate as DATE);
GO
