USE [ProductionDB]
GO
/****** Object:  Table [dbo].[ProductionResults]    Script Date: 8/5/2025 3:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[PlanID] [int] NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductSize] [nvarchar](30) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[MachineName] [nvarchar](100) NULL,
	[ShiftName] [nvarchar](20) NOT NULL,
	[ProductionDate] [date] NOT NULL,
	[ActualStartTime] [datetime2](7) NOT NULL,
	[ActualEndTime] [datetime2](7) NOT NULL,
	[ShiftHours] [decimal](4, 2) NULL,
	[OvertimeMinutes] [int] NULL,
	[BreakMorningMinutes] [int] NULL,
	[BreakLunchMinutes] [int] NULL,
	[BreakEveningMinutes] [int] NULL,
	[StandardRunRate] [decimal](10, 2) NOT NULL,
	[TotalPieces] [int] NOT NULL,
	[RejectPieces] [int] NULL,
	[GoodQuantity]  AS ([TotalPieces]-[RejectPieces]),
	[DowntimeMinutes] [int] NULL,
	[DowntimeReason] [ntext] NULL,
	[PlannedWorkMinutes] [int] NOT NULL,
	[ActiveWorkMinutes] [int] NOT NULL,
	[OEE_Availability] [decimal](5, 2) NOT NULL,
	[OEE_Performance] [decimal](5, 2) NOT NULL,
	[OEE_Quality] [decimal](5, 2) NOT NULL,
	[OEE_Overall] [decimal](5, 2) NOT NULL,
	[ActualRunRate] [decimal](10, 4) NULL,
	[ConfirmedByUserID] [int] NOT NULL,
	[ConfirmedByUserName] [nvarchar](100) NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[WorkingHours]  AS (datediff(minute,[ActualStartTime],[ActualEndTime])/(60.0)),
	[TotalBreakMinutes]  AS (([BreakMorningMinutes]+[BreakLunchMinutes])+[BreakEveningMinutes]),
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((8.0)) FOR [ShiftHours]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((0)) FOR [OvertimeMinutes]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((0)) FOR [BreakMorningMinutes]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((60)) FOR [BreakLunchMinutes]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((0)) FOR [BreakEveningMinutes]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((0)) FOR [RejectPieces]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT ((0)) FOR [DowntimeMinutes]
GO
ALTER TABLE [dbo].[ProductionResults] ADD  DEFAULT (getdate()) FOR [ConfirmedAt]
GO
ALTER TABLE [dbo].[ProductionResults]  WITH CHECK ADD  CONSTRAINT [FK_ProductionResults_Plan] FOREIGN KEY([PlanID])
REFERENCES [dbo].[ProductionPlans] ([PlanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionResults] CHECK CONSTRAINT [FK_ProductionResults_Plan]
GO
ALTER TABLE [dbo].[ProductionResults]  WITH CHECK ADD  CONSTRAINT [CK_ProductionResults_Minutes] CHECK  (([DowntimeMinutes]>=(0) AND [PlannedWorkMinutes]>(0) AND [ActiveWorkMinutes]>=(0)))
GO
ALTER TABLE [dbo].[ProductionResults] CHECK CONSTRAINT [CK_ProductionResults_Minutes]
GO
ALTER TABLE [dbo].[ProductionResults]  WITH CHECK ADD  CONSTRAINT [CK_ProductionResults_OEE] CHECK  (([OEE_Availability]>=(0) AND [OEE_Availability]<=(100) AND ([OEE_Performance]>=(0) AND [OEE_Performance]<=(100)) AND ([OEE_Quality]>=(0) AND [OEE_Quality]<=(100)) AND ([OEE_Overall]>=(0) AND [OEE_Overall]<=(100))))
GO
ALTER TABLE [dbo].[ProductionResults] CHECK CONSTRAINT [CK_ProductionResults_OEE]
GO
ALTER TABLE [dbo].[ProductionResults]  WITH CHECK ADD  CONSTRAINT [CK_ProductionResults_Quantities] CHECK  (([TotalPieces]>=(0) AND [RejectPieces]>=(0) AND [RejectPieces]<=[TotalPieces]))
GO
ALTER TABLE [dbo].[ProductionResults] CHECK CONSTRAINT [CK_ProductionResults_Quantities]
GO
ALTER TABLE [dbo].[ProductionResults]  WITH CHECK ADD  CONSTRAINT [CK_ProductionResults_Times] CHECK  (([ActualEndTime]>[ActualStartTime]))
GO
ALTER TABLE [dbo].[ProductionResults] CHECK CONSTRAINT [CK_ProductionResults_Times]
GO
